.title{
    color: #d1410c;
}

.Github{
    display: inline-block;
    background-color: whitesmoke;
    height: 32px;
    width: 90px;
    border: 2px solid #a9a8b3;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.Linkedin{
    display: inline-block;
    background-color: whitesmoke;
    height: 32px;
    width: 90px;
    border: 2px solid #a9a8b3;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}



// .top{
//     background-color: green;
// }