.icons{
    position: static;
    bottom: 0;
}

.Github{
    color: rgb(39, 5, 233);
    font-size: 2.8vw;
    cursor: pointer;
    position: relative;
}

.Linkedin{
    color: rgb(39, 5, 233);
    font-size: 2.8vw;
    cursor: pointer;
    position: relative;
}







