.event-index-items{
    float: left;
    padding: 50px;
}

.event-index-item{
    display: block;
    align-self: center;
    width: 500px;
    height: 300px;
    margin-top: 56px;
    font-size: xx-large;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
}

.event-title {
    padding: 12px;
    cursor: pointer;
    position: absolute;
    font-size: xx-large;
    color: #1E0A3C;
    font-weight: 600;
}

.event-edit {
    padding: 30px;
    cursor: pointer;
    position: absolute;
    font-size: large;
    color: #1E0A3C;
    font-weight: 600;
    padding: 20px;
}

.reviews{
    padding: 30px;
    cursor: pointer;
    position: absolute;
    font-size: large;
    color: #1E0A3C;
    font-weight: 600;
    padding: 20px;;
}

.Review-event {
    padding: 12px;
    cursor: pointer;
    position: relative;
    left: -5px;
    font-size: large;
    
}

.Rsvp-event{
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: -5px;
    font-size: large;
    color: whitesmoke;
    background-color: #0D8547;
}

.delete-event-button{
    display: inline-block;
    background-color: #d1410c;;
    height: 44px;
    border: 2px solid #a9a8b3;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 30px;
    font-size: large;
 }



