.event-info{
    color: #39364f;
    font-size: larger;
    line-height: 23px;
    padding: 12px;
    cursor: pointer;
    position: absolute;
}

.Rsvp-event{
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 100px;
    left: -5px;
    font-size: large;
    color: whitesmoke;
    background-color: #0D8547;
}
