.event-index-items{
    float: left;
    padding: 50px;
}

.event-index-item{
    display: block;
    align-self: center;
    width: 300px;
    height: 300px;
    margin-top: 56px;
    font-size: xx-large;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
}

.event-title {
    padding: 12px;
    cursor: pointer;
    position: absolute;
    font-size: xx-large;
    color: rgb(65, 61, 61);
    font-weight: 700;
}


.reviews{
    padding: 30px;
    cursor: pointer;
    position: absolute;
    font-size: large;
    color: #1E0A3C;
    font-weight: 600;
    padding: 20px;;
}

.Review-event {
    padding: 12px;
    cursor: pointer;
    position: relative;
    left: -5px;
    font-size: large;
    
}




 .date{
     color: #d1410c;
     font-size: medium;
     position: relative;
     top: 20px;
 }

 .location{
    color: grey;
    font-size: x-large;
    position: relative;
    top: 20px;
 }



