.event-index-items{
    float: left;
    padding: 50px;
}

.event-index-item{
    display: block;
    align-self: center;
    width: 500px;
    margin-top: 56px;
    font-size: xx-large;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
}

.event-title {
    padding: 12px;
    cursor: pointer;
    position: absolute;
    font-size: xx-large;
}

.event-edit {
    align-self: center;
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 25px;
    font-size: large;
  
}

.Review-event {
    padding: 12px;
    cursor: pointer;
    position: relative;
    left: -5px;
    font-size: large;
}

.Rsvp-event{
    padding: 12px;
    cursor: pointer;
    position: relative;
    left: -10px;
    font-size: large;
}

.delete-event-button{
    color: #39364f;
    // padding: 12px;
    cursor: pointer;
    position: relative;
    top: 5px;
    font-size: large;
 }



