.main-login-form{
  display: flex;
  background-color: grey;
  height: 100vh;
}
.login-form-box {
  width: 500px;
  margin-top: 56px;
  font-size: xx-large;
  line-height: 2.5rem;
  letter-spacing: 1px;
  margin-right: -1px;
  font-weight: 800;
}

.login-form {
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
  width: 400px;
}
  
  .login-input {
  padding: 18px 12px 6px;
  border: 2px solid #a9a8b3;
  border-radius: 4px;
  color: #39364f;
  font-size: medium;
}



.submit {
  display: block;
  color: #fff;
  border-color: #d1410c;
  background-color: #d1410c;
  height: 44px;
  padding: 0 30px 1px;
  font-weight: 600;
  letter-spacing: .8px;
  cursor: pointer;
  position: relative;
  top: 15px;
}

.divider {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Helvetica; 
  font-weight: 400;
  color: #39364f;
}

.photo {
 position: relative;
 left: 100px;
 height: 750px;
 width: 750px;
}

.demo-login-button{
  color: #39364f;
  padding: 12px;
  cursor: pointer;
  position: relative;
  top: 25px;
  font-size: large;
}