.links{
    position: absolute;
    background-color: green;
}

.logoutbtn{
    background-color: grey;
    position: relative;
    border: 1px solid black;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    right: 100px;
    top: 0px;
    cursor: pointer;
}

.profile{
    background-color: grey;
    position: relative;
    border: 1px solid black;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    right: 375px;
    top: 0px;
    cursor: pointer;
}

.new-event{
    background-color: grey;
    position: relative;
    border: 1px solid black;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    right: 245px;
    top: 0px;
    cursor: pointer;
}

.home{
    background-color: grey;
    position: relative;
    border: 1px solid black;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    left: 1700px;
    top: -80px;
    cursor: pointer;

}
// .navbar-top{
//     background-color: green;
// }