// .navbar-top{
//     background-color: black;
// }

.links{
    position: absolute;
    background-color: green;
}

.logoutbtn{
    background-color: white;
    position: relative;
    border: 1px solid white;
    color: #1E0A3C;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    right: 100px;
    top: 0px;
    cursor: pointer;
}

.profile{
    background-color: white;
    position: relative;
    border: 1px solid white;
    color: #1E0A3C;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    right: 375px;
    top: 0px;
    cursor: pointer;
}

.new-event{
    background-color: white;
    position: relative;
    border: 1px solid white;
    color: blue;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    right: 245px;
    top: 0px;
    cursor: pointer;
}

.home{
    background-color: white;
    position: relative;
    border: 1px solid white;
    color: #1E0A3C;
    width:8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vh;
    position: absolute;
    left: 1150px;
    top: 0px;
    cursor: pointer;
}
.icon{
    color: #f05537;
    letter-spacing: normal;
font-size: xx-large;
position: relative;
top: 20px;
left: 40px;
font-family:Helvetica,Tahoma,Arial,sans-serif;
font-weight: 400;
-moz-osx-font-smoothing: grayscale;
}

// .login{
//     position: absolute;

// }


// .Login-entry{
//     background-color: white;
//     position: relative;
//     border: 1px solid white;
//     color: #1E0A3C;
//     width:8vw;
//     height: 4vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     top: 1vh;
//     position: absolute;
//     right: 375px;
//     top: 0px;
//     cursor: pointer;
// }

// .Signup-entry{
//     background-color: white;
//     position: relative;
//     border: 1px solid white;
//     color: #1E0A3C;
//     width:8vw;
//     height: 4vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     top: 1vh;
//     position: absolute;
//     right: 375px;
//     top: 0px;
//     cursor: pointer;
   

// }

