.profile-outer{
    background-color: brown;
    width: 100%;
    height: 200vh;
}

.profile-username{
    color: #39364f;
    font-weight: 600;
    cursor: pointer;
    position: relative;
  
}

.p-your-event{
    color: white;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    position: relative;

}

.user-event{
    display: block;
    align-self: center;
    width: 300px;
    height: 300px;
    margin-top: 56px;
    font-size: xx-large;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
    background-color: white;
}

.user-events{
    float: left;
    padding: 50px;
   
}

.user-rsvps{
    float: right;
    padding: 50px;
   
}

.user-event-title{
      // padding: 12px;
      cursor: pointer;
      // position: absolute;
      font-size: xx-large;
      color: rgb(65, 61, 61);
      font-weight: 700;
}

// .p-your-Rsvps{
//     position: relative;
//     left: 1000px;
// }

.link-create-profile{
    display: inline-block;
    background-color: #d1410c;;
    height: 44px;
    padding: 0 30px 1px;
    border: 2px solid #a9a8b3;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    
}