.Main-Review-Form{
    display: flex;
    position: relative;
    top: -300px;
    left: 1150px;
}

.review-header{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #1e0a3c;
}

.Main-Review-Form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 24px;
    color: #333;
    width: 500px;
    background-color: white;
    height: 100vh;

    h3{
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #1e0a3c;
    }

    textarea{
        width: 400px;
        height: 120px;
        padding: 5px;
        font-family: Tahoma;
        background-position: bottom right;
        background-repeat: no-repeat;
        display: block;
        align-self: center;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.5;
        font-weight: 800;
        border-style: groove; 
        border-width: 10px;
        border-radius: 5px;
        border-color: black;
    }

    input{
        color: blue;
        background-color: lightblue;
        box-sizing: border-box;
        font-family: Helvetica; 
        font-weight: 400;
        display: block;
        align-self: center;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.5;
        font-weight: 800;
        border-style: groove; 
        border-width: 10px;
        border-radius: 5px;
        border-color: black;
    }
}

.Create-Review-Button{
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: -5px;
    font-weight: 600;
    color: #FFF;
    background-color: #0D8547;
    height: 44px;
    border: 2px solid transparent;
    padding: 0 30px;
      padding-right: 30px;
      padding-left: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
}

