.Main-Review-Form{
    display: flex;
    position: relative;
    top: 200px;
}

.review-header{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #1e0a3c;
}

.Main-Review-Form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 24px;
    color: #333;
    width: 500px;

    h3{
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #1e0a3c;
    }

    textarea{
        width: 600px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Tahoma;
        background-position: bottom right;
        background-repeat: no-repeat;
    }

    input{
        display: -webkit-flex;
        color: blue;
        background-color: lightblue;

    }
}

.Create-Review-Button{
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: -5px;
    font-size: large;
    color: whitesmoke;
    background-color: #0D8547;
}

