// .reviews-list-class{
//          position: relative;
//      top: 100px;
//      height: 100px;
//      display: flex;
//      align-items: center;
//      justify-content: center;
// }

.title-of-all-reviews{
    position: relative;
    top: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-index-items{
    position: relative;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-index-item{
    display: block;
    align-self: center;
    height: 100%;
    width: 100%;
}

.no-reviews{
    position: relative;
    top: 250px;
}
.review-title{
    display: block;
    align-self: center;
    width: 300px;
    height: 150px;
    margin-top: 56px;
    font-size: xx-large;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    background-color: gray;
    color: whitesmoke;
}

.review-rating{
    display: block;
    align-self: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: cadetblue;
    width: 15%;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
}

.delete-review-button{
    display: block;
    align-self: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: cadetblue;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 800;
    border-style: groove; 
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
}