.rsvp-form{
    input{
        padding: 36px 24px 12px;
        border: 2px solid #a9a8b3;
        border-radius: 4px;
        color: #39364f;
        font-size: medium;
        line-height: 2.5rem;
        letter-spacing: 1px;
    }
}

.rsvp-button{
    left: 550px;
    top: -150px;
    display: inline-block;
    background-color: whitesmoke;
    height: 100px;
    width: 180px;
    border: 2px solid #a9a8b3;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    
}

.already-rsvp{
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}