.rsvp-no-review{
    .Main-Review-Form{
        position: relative;
        left: 470px;
        top: -500px;
    }

    .already-rsvp{
        position: relative;
        top: 50px;
        color: orange;
    }
}