.rsvp-form{
    input{
        padding: 36px 24px 12px;
        border: 2px solid #a9a8b3;
        border-radius: 4px;
        color: #39364f;
        font-size: medium;
        line-height: 2.5rem;
        letter-spacing: 1px;
    }
}

.rsvp-button{
    left: 550px;
    top: -150px;
    font-weight: 600;
    color: #FFF;
    background-color: #0D8547;
    height: 44px;
    border: 2px solid transparent;
    padding: 0 30px;
      padding-right: 30px;
      padding-left: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    
}

.already-rsvp{
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}