.rsvp-form{
    input{
        position: relative;
        margin-top: 32px;
        left: 500px;
        padding: 36px 24px 12px;
        border: 2px solid #a9a8b3;
        border-radius: 4px;
        color: #39364f;
        font-size: medium;
        line-height: 2.5rem;
        letter-spacing: 1px;
    }
}

// .rsvp-button{
//     position: relative;
//     left: 650px;
//     display: inline-block;
//     background-color: whitesmoke;
//     height: 50px;
//     width: 90px;
//     border: 2px solid #a9a8b3;
//     border-radius: 4px;
//     cursor: pointer;
//     position: relative;
//     margin-top: 32px;
// }