

.rsvp-index-item{
    display: block;
    align-self: center;
    width: 300px;
    height: 300px;
    margin-top: 56px;
    font-size: xx-large;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    font-weight: 800;
    // border-style: groove; 
    // border-width: 5px;
    // border-color: white;
    // border-radius: 5px;
    position: relative;
    left: 1000px;
}
